.color{
    background-color: lightblue;
    border: 10px solid white;
}

.alta{
    height: 120px;
}

.no-padding{
    padding: 0;
}

@media screen and (max-width: 576px){
    .desaparecer{
        display: none;
    }
}